<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moringaschool.renu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_applogo_round"
        android:label="ReNu"
        android:roundIcon="@mipmap/ic_applogo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.CheckoutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moringaschool.renu.ui.MealViewActivity" />
        </activity>
        <activity android:name=".ui.UserSignUp" />
        <activity android:name=".ui.UserLogin" />
        <activity android:name=".ui.MealViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moringaschool.renu.ui.HomeActivity" />
        </activity>
        <activity
            android:name=".fragments.CheckoutDialogFragment"
            tools:ignore="Instantiatable">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moringaschool.renu.ui.HomeActivity" />
        </activity>
        <activity android:name=".ui.HomeActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/IndexPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.RestaurantDetailActivity" />
    </application>

</manifest>